{% extends 'inventory/main.html' %}

{% load static %}

{% block content %}

<meta charset="UTF-8">
<meta https-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
/*	FLOATING BUTTON STYLE*/
.floating-btn{
	width: 80px;
	height: 80px;
	background: #731436;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 50%;
	color: white;
	font-size: 60px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	transition: background 0.25s;
	outline: blue;
	border: none;
	cursor: pointer;
}
.floating-btn:hover {
	background: #621436;
}

/* MAIN ITEMS STYLE */
a.fill-div{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.image-container{
	position: relative;
	display: inline-block;
}
.image-container img {
	display: block;
	max-width: 500px;
	max-height: 500px;
}
.overlay-text {
	position: absolute;
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.75); 
	padding: 10px 20px; 
	font-size: 100px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}
a.delete-btn{
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	color: #ffffff;
	font-size: 20px;
	background: #ff0000;
	padding: 10px 100px 10px 35px;
	text-decoration: none;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
a.delete-btn:hover{
	background: #910000;
	text-decoration: none;
}
.card-title{
	font-size: 50px;
	color: #731436;
}
.card-img-top:hover{
	-webkit-filter: brightness(70%);
}
</style>

<body>
	<a href="{% url 'create_item'%}" class="floating-btn">+</a>
	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="row">

				{% for i in item%}
				<div class="btn col-sm-6 col-lg-3" id="my-div">
					<div class="card inventory-card">
						<a href="{%url 'update_item' i.id%}" class="fill-div">
							<div class="image-container">
								{% if i.item_pic%}
								<img class="card-img-top" id="sugar" class="" src="{{ i.item_pic.url }}"/>
								{% else %}
								<img class="card-img-top" id="sugar" class="" src="{% static 'inventory/images/sugar.jpg' %}"/>
								{% endif %}
								<div class="overlay-text">{{i.quantity}}
								</div>
							</div>
						</a>
						<div class="card-block">
							<h2 id="name_header" class="card-title", style="text-align: center;">
								{{i.name}}
							</h2>
						</div>
						<a class="delete-btn" href="{%url 'delete_item' i.id%}">DELETE</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

{% endblock content%}
