<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inventory</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
</head>


{% with url_name=request.resolver_match.url_name %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark py-3" style="background-color: #000000;">
  <a class="navbar-brand" href="#"><h1>Belbros Foodhub</h1></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if url_name == 'dashboard' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <h2>Dashboard</h2>
        </a>
      </li>
      
      <li class="nav-item {% if url_name == 'customer' %}active{% endif %}">
        <a class="nav-link" href="http://127.0.0.1:8000/customer/">
          <h2>Switch to Customer</h2>
        </a>
      </li>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    
  </div>
</nav>

{% endwith %}


<script>
  function deleteOrder(id) {
      console.log("Delete order", id);
      // Implement the delete functionality here, possibly using fetch() for an AJAX call
  }
  
  function editOrder(id) {
      console.log("Edit order", id);
      // Open a modal or redirect to an edit page
  }
  
  function completeOrder(id) {
      console.log("Complete order", id);
      // Implement the mark as complete functionality
  }
  </script>
  
