{% extends 'base.html' %}

{% block content %}
  <h2>Product List</h2>
  <a href="/inventory/add" class="btn btn-add-product">Add Product</a>
  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for food in foods %}
        <tr>
          <td>{{ food.name }}</td>
          <td>{{ food.quantity }}</td>
          <td>{{ food.type }}</td>
          <td>
            <button class="btn btn-primary" disabled>Edit</button>
            <button class="btn btn-danger" disabled>Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
